page-login {
	
	.login-content {
		background-color:#006fb6;
	}

	$background-ios-color: #006fb6;
	$background-md-color: #006fb6;
	$background-wp-color: #006fb6;

	ion-row {
       align-items: center;
       text-align: center;
     }
}
